@import './base.less';

@rem:10rem;



body{
	background:#f0f0f0;
}

.header{
	width:100%;
	height:44/@rem;
	display:flex;
	align-items: center;
	background:#fff;
	font-size:20/@rem;
	justify-content: center;
	border-bottom: 1px solid #a19d9d;
}

.linkarea{
	background: #fff;
}

.link-li{
	padding: 10/@rem;
	text-align: center;
	border-bottom: 1px solid #a19d9d;

    a{
	    text-decoration: none;
	    color: #0094ff;
	    font-size: 15/@rem;
	    cursor: pointer;
	}
}




















